<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<style>

  body{
    background-color: #011f4b;
  }


</style>

<body>
<h1><font color="white"><%= title %></font></h1>
<p><font color="white">Welcome to a database of bands and their tours made by Daniel Thompson</font></p>

<a href="/band/all"style="color:navajowhite">Bands - View All</a> <br />
<a href="/tour/all"style="color:navajowhite">Tours - View All</a> <br />
<a href="/guitarist/all"style="color:navajowhite">Guitarists - View All</a> <br />
<a href="/country/all"style="color:navajowhite">Countries - View All</a> <br />
<br />
<br />
<br />
<a href="/about/all"style="color:navajowhite">About This Database</a> <br />
<br />

</body>
</html>