<%- include("../includes/header.ejs", {title:"About"}); %>

<style>
    body{
        background-color: #011f4b;
    }

</style>

<h1><font color="#6497b1">BANDS UNLIMITED</font></h1>
<p><font color="#6497b1"> A COMPANY DEDICATED TO KEEPING TRACK OF BANDS AND THEIR TOURS </font></p>
<body>
<font color="white">

<table border="2" id="2">
    <tr bgcolor="#696969"><th><font color="#6497b1">ABOUT</font></th> </tr>
<tr>
    <td>
    This database is intended to keep track of multiple bands, and the tours they have been on.
    A band can have a singer, bassist, and drummer. They can also have multiple guitarists, which is
    another table so that the bands can contain multiple.
        </br>
        </br>

    You can also view Tours by name, which, when clicked, will return to you the headlining band of the tour, the start
    and end year, start and end month, the name of the tour, and the countries it visited.

    Guitarists can be viewed separately as well.
        </br>
        </br>


    Developed by: Daniel Thompson
                    A soon-to-be Senior at Sonoma State University, learning the basics of Database and Web-Design.
    </br>

    </td>
</tr>

</table>

    </br>
    </br>
    </br>
    </br>

    <table border="2" id="3">
        <tr bgcolor="#696969"><th><font color="#6497b1">LINKS</font></th> </tr>
        <tr>
            <td>
                </br>
                <a href="/images/FDDiagram.jpg" style="color:navajowhite"> Functional Dependency Diagram</a>
                </br>
                </br>

                <a href="/images/ERDiagram.jpg"style="color:navajowhite"> Entity-Relationship Diagram</a>
                </br>
                </br>
            </td>
        </tr>
    </table>

</br>

    </br>
    </br>
    </br>
    </br>



    <table border="2" id="3">
        <tr bgcolor="#696969"><th><font color="#6497b1">CONTACT INFO</font></th> </tr>
        <tr>
            <td>
                <font color ="white">
                    </br>
                   ADDRESS: 1234 FAKESTREE, ROHNERT PARK, CA 94928
                </br>
                    </br>
                    TELEPHONE: 707-555-5555
                    </br>
                    </br>
                    FAX: 707-555-6666
                    </br>
                    </br>


                </font>
            </td>
        </tr>
    </table>

    </br>


</font>
</body>



<%- include("../includes/footer.ejs"); %>